<!DOCTYPE html>
<html lang="pt-br" xmlns="https://thymeleaf.com">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="@{/home}">Home</a></li>
                <li><a href="@{/livros}">Livros</a></li>
                <li><a href="@{/addlivro}">Adicionar Livro</a></li>
                <li><a href="@{/contato}">Contato</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>